# yum groupinstall "Development Tools"
# service iptables start
# yum install cmake
# yum install libaio

# git config --global user.name "DEBE"
# git config --global user.email "g500xxx@trbvm.com"
# git remote add origin git@git.geointapps.org:ACME/sigma.git
# git pull
# .ssh/id_rsa shoould contain private key corresponding to git public key uploaded into https://git.geointapps.org

[mysqld_safe]
datadir=/home/jamesdb/data
basedir=/home/jamesdb/mysql-cluster/bin
socket=/tmp/mysql.sock
symbolic-links=0
log-error=/home/jamesdb/data/mysqld.log
pid-file=/home/jamesdb/data/mysqld.pid

