//- UNCLASSIFIED
//-
	Extend the layout view to provide a common document view:
		dims = [width,height] default dimensions
		page = rows grid page size

extends layout
append layoutarea

	block docparms
		- page = 50
		- dims = "[1000,600]"

	#null(path="/roles.db",sync,cols="Internal,Special,INSERT,UPDATE,DELETE,SELECT")
	#null(path="/parms.db",sync,cols="Parm,Label,Type,Special,Org0,Org1,Org2,Org3,V0,V1,V2,V3")

	block docarea
	
// UNCLASSIFIED
