// UNCLASSIFIED
// Level 2 skin provides a Home landing view.
//
// Skinning guide: [URL]/skin.view
// API guide: [URL]/icd.view
// Parameters: [URL]/parms.view
// Skins mapdrive: [URL]/skins
// Theme mapdrive: [URL]/css

extends site
append siteparms
	view = "GIAT-F Home"
append sitearea

	#fit.Welcome
		p Welcome to the GIAT at ADF-F.  Please consult the tabs for the information you require.
		
	#grid.Project.Info(path="/giatf.db",cols="Name,Vision,Status,Specs Link.h.Specs,JIRA Link.h.JIRA")

	#fit.Project.Work.Models
