//- UNCLASSIFIED
//-
	Display doodle chart using parameters:
		src = data source (e.g. energy.json.data, some_tagged_data.shares, intake.db, ...)
		pivots = data pivot list (e.g. name,gender,weight,...)

extends base
append base_parms
	- tech = "d3"
append base_head

	style.
		body {
			background: #222;
		}
		circle {
		fill: none;
			stroke-width: 1.5px;
		}

append base_body
	script.
		var w = 960,
			h = 500,
			z = d3.scale.category20c(),
			i = 0;

		var svg = d3.select("#content").append("svg:svg")
			.attr("width", w)
			.attr("height", h)
			.style("pointer-events", "all")
			.on("mousemove", particle);

		function particle() {
			var m = d3.mouse(this);

			svg.append("svg:circle")
				.attr("cx", m[0])
				.attr("cy", m[1])
				.attr("r", 1e-6)
				.style("stroke", z(++i))
				.style("stroke-opacity", 1)
				.transition()
				.duration(2000)
				.ease(Math.sqrt)
				.attr("r", 100)
				.style("stroke-opacity", 1e-6)
				.remove();
		}
		
// UNCLASSIFIED
		
