extends layout
append layoutparms
	- Layout = "Carousel"
append layoutarea

	img(src="uploads/Welcome1.jpg",title="GEOINT Alg = Crossbar: Sensor Collect x Host Env")
	img(src="uploads/Welcome2.jpg",title="Can interface with most anything")
	img(src="uploads/Welcome3.jpg",title="is 100% open-source")
	img(src="uploads/Welcome0.jpg",title="Network slooow? <a href='/issues.jade'>Helpful Links || Views || Issues</a>")
	img(src="uploads/Welcome4.jpg",title="Is a marketplace - a moderated lifecycle")
	img(src="uploads/Welcome5.jpg",title="Who uses? Everyone in the GEOINT Alg lifecycle")
	img(src="uploads/Welcome6.jpg",title="Need a tutorial? <a href='/briefing.jade'>Helpful Links || Guides || Tutorial</a>")
	img(src="uploads/Welcome7.jpg",title="Poor service? <a href='/issues.jade'>Helpful Links || Views || Issues</a>")
	img(src="uploads/Welcome8.jpg",title="Found a bug? <a href='/issues.jade'>Helpful Links || Views || Issues</a>")
	img(src="uploads/Welcome8.jpg",title="Defficiency report? See <a href='/issues.jade'>Helpful Links || Views || Issues</a>")
	img(src="uploads/Welcome9.jpg",title="No bandwidth? <a href='/issues.jade'>Helpful Links || Views || Issues</a>")
	img(src="uploads/Welcome10.jpg",title="Contacts/Health? Expand below/above")
	img(src="uploads/Welcome11.jpg",title="Can interface with most anything")
	img(src="uploads/Welcome12.jpg",title="A view for every role ...")
	img(src="uploads/Welcome13.jpg",title="New Requirements? <a href='/evals.jade'>Helpful Links || Views || Evals</a>")
	img(src="uploads/Welcome14.jpg",title="Eval Requirements? <a href='/evals.jade'>Helpful Links || Views || Evals</a>")
